node_modules/
main.db
.env
src/config/debug_settings.json
logs/
build/
sql_dumps/
news.md
tmp/
tsconfig.tsbuildinfo
version
data/
*.validation.sql
*.test.sql
data/group_list.txt
.eslintcache
.vscode/launch.json
data/frozen_table_schema.json
