node_modules/
main.db
.env
src/config/debug_settings.json
logs/
build/
sql_dumps/kmq_backup
sql_dumps/daisuki
news.md
tmp/
tsconfig.tsbuildinfo
version
data/
*.validation.sql
*.test.sql
.eslintcache
.vscode/launch.json
