module.exports = {
  client: 'mysql',
  connection: {
    user: '', password: '', database: "kpop_videos"
  },
  pool: {
    min: 0,
    max: 10
  },
  migrations: {
    directory: "../../migrations"
  }
}
