{
    "appenders": {
      "log": { "type": "dateFile", "filename": "some/dir/log.log" },
      "error": { "type": "dateFile", "filename": "/some/dir/error.log" },
      "error-filtered": { "type": "logLevelFilter", "appender": "error", "level": "error" },
      "console": { "type": "console" }
    },
    "categories": {
        "default": { "appenders": ["error-filtered", "console", "log"], "level": "debug" }
    }
}
