{
    "botToken": "",
    "dbUser": "",
    "dbPassword": "",
    "songCacheDir": "",
    "topGGToken": "",
    "discordBotsGgToken": "",
    "newsFile": "",
    "groupListFile": "",
    "songAliasesFile": "",
    "restartCron": ""
}
